@import "node_modules/material-design-icons/iconfont/material-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* Asegura que el contenedor tenga un ancho fijo y el contenido sea más ancho que el contenedor */
.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    /* Añadido para suavizar el desplazamiento */
}
