@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* Asegura que el contenedor tenga un ancho fijo y el contenido sea más ancho que el contenedor */
.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    /* Añadido para suavizar el desplazamiento */
}

.pagination {
    display: flex; /* Arrange links horizontally */
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 20px 0; /* Add margin for spacing */
}

.page-link {
    padding: 5px 10px; /* Adjust padding as needed */
    border: 1px solid #ddd; /* Add a thin border */
    margin-right: 5px; /* Add space between links */
    text-decoration: none; /* Remove underline */
    color: #333; /* Set text color */
}

.page-link:hover {
    background-color: #eee; /* Add hover effect */
}

.page-link.active {
    background-color: #007bff; /* Style the active page link */
    color: #fff; /* Change text color for active link */
}
